body {
    padding-top: 5rem;
    background: #fafafa;
}
main {
    background: rgb(252, 243, 175);
    font-weight: 100;
    max-width: 56rem;
    margin: auto;
    /* notorious 56kb */

    font-family: sans-serif, -apple-system;
    text-align: center;

    display: none;
}
main#sharing, #vnc_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: 1;
}
#vnc_controls {
    position: fixed;
    z-index: 2;
    padding: 2rem;
}
main .big {
    font-size: 3em;
}
main button, main input, .box, main textarea {
    border: none;
    outline: none;
    text-align: left;

    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    background-color: #fff;
    border: solid #222 2px;
    display: inline-block;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    margin: .07em;
    margin-bottom: .4em;
}
main button:hover {
    background: #ededed;
}
.cap-width {
    max-width: 400px;
    margin: 0 auto;
}
.bg-success {
    background: #83ffcd;
}
.bg-purple {
    background: #b8afff;
}
.bg-blue {
    background: #9fd6ff;
}
main blockquote {
    font-family: serif;
    font-style: italic;
    font-weight: 100;
}
main .center {
    margin: 0 auto;
}